---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

## Job Market Paper
{% for post in site.publications reversed %}
  {% if post.category == "jmp" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

## Working Papers
{% for post in site.publications reversed %}
  {% if post.category == "working" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

## Works in Progress
{% for post in site.publications reversed %}
  {% if post.category == "wip" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}


